  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Connection_DB_Password" value="ty30b67" />
    <add key="Connection_WS_Username" value="cis4396T202103G04" />
    <add key="Connection_WS_Password" value="CarTrainBusAutomobile9720" />
  </appSettings>