/*@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);*/

body {
}

.container{
    max-width: 80% !important;
}

.detailBox {
    width: 475px;
    margin: 25px;
    justify-content: center !important;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

    .titleBox label {
        color: #444;
        margin: 0;
        display: inline-block;
    }

.commentBox {
    padding: 10px;
   
}

    .commentBox .form-group:first-child, .actionBox .form-group:first-child {
        width: 90%;
    }

    .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
        width: 18%;
    }

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px 0;
}

.commentList {
    padding: 0;
    list-style: none;
    overflow: auto;
}

    .commentList li {
        margin: 0;
        margin-top: 10px;
    }

        .commentList li > div {
            display: table-cell;
        }

.commenterImage {
    width: 40px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

    .commenterImage img {
        width: 100%;
        border-radius: 50%;
    }

.commentText p {
    margin: 0;
    font-size:22px !important;
    font-weight: normal;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 16px;
    font-weight: lighter;
}

.actionBox {
    padding: 10px;

}

.redbtn {
    background-color: #91182a;
    color: white;
}

<<<<<<< HEAD

/*Made for PIViewStudentResearch*/

.btnSize{
    height: 50px !important;
    width: 200px !important;
    justify-content: center !important;
    margin: 5px;
}

.mydropdownlist1 {
    color: #fff;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px 12px;
    background-color: #ffffff;
    border: 1px solid;
    font-weight: normal;
    color: black;
}

.termLabel{
    font-size:22px;
    font-weight:normal;
}

.textbox {
    margin: 0;
    font-size: 22px !important;
    font-weight: normal;
}

.form-control{
    font-size: 20px !important;
}
=======
    .redbtn:hover {
        background-color: #740000;
        color:white;
    }
>>>>>>> 7261e08a976a7d14913ce5f288d1a9037bf7a951

/* MEDIA QUERIES */

@media (min-width: 1200px) {

}


@media (min-width: 1024px) {

}

/* Extra Small devices (phones, 575px and below) */

@media (max-width: 575px) {
  
}

/* Small devices (landscape phones, 576px to 767px) */

@media (min-width: 576px) and (max-width: 767px) {

}

/* Medium devices (tablets, 768px to 991px) */

@media (min-width: 768px) and (max-width: 991px) {

 }

/* Medium devices (tablets, 992px to 1100px) */

@media (min-width: 992px) and (max-width: 1100px) {

}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

}





